<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>280436316587-7nf2r3l2s0o2out6ootnqggfcr0p1j79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280436316587-7nf2r3l2s0o2out6ootnqggfcr0p1j79</string>
	<key>API_KEY</key>
	<string>AIzaSyDQtQdJC6wSoYMwHaLSZrHy_1xaaHRrPy4</string>
	<key>GCM_SENDER_ID</key>
	<string>280436316587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.foodbeaztStoreAdmin</string>
	<key>PROJECT_ID</key>
	<string>foodbeazt-1383</string>
	<key>STORAGE_BUCKET</key>
	<string>foodbeazt-1383.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280436316587:ios:b4af4e5e1edbe40d</string>
	<key>DATABASE_URL</key>
	<string>https://foodbeazt-1383.firebaseio.com</string>
</dict>
</plist>